.footer {
    height: 150px;
    overflow: hidden;
    &__wrap {
        @include flex-spb;
    }
    &__nav {
        width: 100%;
        max-width: 66.2%;
    }
    &__link {
        @include link(#1a1a1a);
    }
    &__ul {
        display: flex;
        justify-content: space-between;
    }
}
.icons {
    @include flex-spb;
    max-width: 160px;
    &__item {
        display: flex;
        justify-content: center;
        height: 1.6em;
    }
    &__link {
        height: 100%;
        width: 33.33%;
        display: inline-block;
    }
    svg {
        &:hover {
            fill: #f84545;
            transition: fill 0.3s linear;
        }
    }
}
