@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/Proxima_Nova_light/fonts/proxima_nova_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Proxima_Nova_light/fonts/proxima_nova_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Proxima_Nova_light/fonts/proxima_nova_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Proxima_Nova_light/fonts/proxima_nova_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Proxima_Nova_light/fonts/proxima_nova_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Proxima_Nova_light/fonts/proxima_nova_light.svg#proxima_nova_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.eot');
	src: local('☺'), url('../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.woff') format('woff'), url('../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.ttf') format('truetype'), url('../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova rg';
	src: url('../fonts/Proxima_Nova_rg/fonts/12093.eot');
	src: local('☺'), url('../fonts/Proxima_Nova_rg/fonts/12093.woff') format('woff'), url('../fonts/Proxima_Nova_rg/fonts/12093.ttf') format('truetype'), url('../fonts/Proxima_Nova_rg/fonts/12093.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.content {
    width: 100%;
    max-width: 1500px;
	margin: 0 auto;
	height: 100%;
}
%h2 {
    font-size: 10px;
}
%subtitile {
    font-size: 10px;
}
