.header {
    background: url(../images/header/Layer_16.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 47px;
    box-sizing: border-box;
    &__wrap {
        position: relative;
    }
    &__top {
        @include flex-spb;
        box-sizing: border-box;
        padding-left: 2px;
    }
    &__logo {
        max-width: 100%;
    }
    &__nav {
        display: flex;
        width: 100%;
        max-width: 700px;
        justify-content: space-between;
    }
    &__link {
        @include link(#fff);
    }
    &__intro {
        margin-top: 293px;
        text-align: center;
    }
    &__title {
        h1 {
            color: #ffffff;
            font-family: "Proxima Nova Light";
            @include adaptive-font(60, 27);
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.6em;
        }
        p {
            color: #f84545;
            font-family: "Proxima Nova rg";
            text-transform: uppercase;
            @include adaptive-font(30, 25);
            font-weight: 700;
            letter-spacing: 0.4em;
            margin-top: 50px;
        }
    }
    &__arrow {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 0+70px;
    }
}
