.header {
    background: url(../images/header/Layer_16.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 47px;
    box-sizing: border-box;
    overflow: hidden;
    &__wrap {
        position: relative;
    }
    &__top {
        @include flex-spb;
        box-sizing: border-box;
        padding-left: 2px;
    }
    &__nav {
        width: 100%;
        max-width: 46.6%;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        @include link(#fff);
    }
    &__intro {
        margin-top: (160px/895px) * 100%;
        text-align: center;
    }
    &__subtitle {
        margin-top: 50px;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 0 + (70px/895px) * 100%;
    }
}
.logo {
    &__img {
        max-width: 100%;
        &:hover {
            transform: rotate3d(1,0,0,360deg);
            transition: transform 0.6s linear;
        }
    }
}
