@import "variables.scss";
// 4K 
@media (min-width: $k4) {
}
// Tablet 
@media (max-width: $tablet) {
}
// MobileL 
@media (max-width: $mobileL) {
}
// MobileM 
@media (max-width: $mobileM) {
}
// MobileS 
@media (max-width: $mobileS) {
}
