// Lapiop L
@media (max-width: 1550px) {
    .content {
        max-width: 1200px;
    }
    .tiles__description {
        width: 50%;
    }
}
@media (max-width: 1200px) {
    .content {
        max-width: 950px;
    }
    .header__link,
    .footer__link {
        font-size: 13px;
    }
    .tiles {
        &__wrap {
            grid-gap: 25px 26px;
        }
        &__item--right {
            .tiles__description {
                width: 50%;
                img {
                    width: 45%;
                }
            }
        }
        &__description {
            img {
                width: 70%;
            }
        }
        &__h3 {
            font-size: 25px;
        }
    }
}
// Laptop
@media (max-width: 960px) {
    .content {
        max-width: 770px;
    }
    .header__nav {
        max-width: 60%;
    }
    .footer__nav {
        max-width: 80%;
    }
    .footer__link {
        font-size: 11px;
    }
}
// Tablet
@media (max-width: $tablet) {
    .header__nav {
        display: none;
    }
    .header__intro {
        margin-top: 200px;
    }
    .instagram{
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
    .tablet-hiden{
        display: none;
    }
    .footer {
        height: 250px;
        &__wrap {
            flex-direction: column-reverse;
        }
        &__link {
            font-size: 14px;
        }
        &__ul {
            flex-direction: column;
            text-align: center;
            li {
                margin: 6px 0;
            }
        }
    }
    .icons {
        margin-top: 30px;
    }
}
// MobileL
@media (max-width: $mobileL) {
    .header__logo {
        width: 45%;
    }
}
// MobileM
@media (max-width: $mobileM) {
}
// MobileS
@media (max-width: $mobileS) {
}
