// 4K 
@media (min-width: $k4) {
}
// Tablet 
@media (max-width: $tablet) {
    .header__nav{
        display: none;
    }
    .header__intro{
        margin-top: 200px;
    }
}
// MobileL 
@media (max-width: $mobileL) {
    .header__logo{
        width: 45%;
    }
}
// MobileM 
@media (max-width: $mobileM) {
}
// MobileS 
@media (max-width: $mobileS) {
}
