// Lapiop L
@media (max-width: 1550px) {
    .content {
        max-width: 1200px;
    }
    .tiles__description {
        width: 50%;
    }
}
@media (max-width: 1200px) {
    .content {
        max-width: 950px;
    }
    .header__link,
    .footer__link {
        font-size: 13px;
    }
    .tiles {
        &__wrap {
            grid-gap: 25px 26px;
        }
        &__item--right {
            .tiles__description {
                width: 50%;
                img {
                    max-width: 45%;
                }
            }
        }
        &__description {
            img {
                max-width: 70%;
            }
        }
        &__h3 {
            font-size: 25px;
        }
    }
}
// Laptop
@media (max-width: 960px) {
    .content {
        max-width: 770px;
    }
    .header__nav {
        max-width: 60%;
    }
    .footer__nav {
        max-width: 80%;
    }
    .footer__link {
        font-size: 11px;
    }
}
// Tablet
@media (max-width: $tablet) {
    .header__nav {
        display: none;
    }
    .header__intro {
        margin-top: 200px;
    }
    .logo__img {
        max-width: 70%;
    }
    .burger {
        display: block;
    }
    .hidden-title {
        display: none;
    }
    .mobile-nav {
        display: block;
        position: absolute;
        top: 20%;
        left: 20%;
        .header__list {
            flex-direction: column;
            align-items: center;
            li {
                margin: 20px 0;
                .header__link {
                    font-size: 30px;
                }
            }
        }
    }
    .tiles {
        padding: 0;
    }
    .h2 {
        font-size: 40px;
    }
    .h3 {
        font-size: 20px;
    }
    .instagram {
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
    .tablet-hidden {
        display: none;
    }
    .footer {
        height: 250px;
        &__wrap {
            flex-direction: column-reverse;
        }
        &__link {
            font-size: 14px;
        }
        &__ul {
            flex-direction: column;
            text-align: center;
            li {
                margin: 6px 0;
            }
        }
    }
    .icons {
        margin-top: 30px;
    }
    @import "slider.scss";
}
// MobileL
@media (max-width: $mobileL) {
    .h2 {
        font-size: 30px;
    }
    .h3 {
        font-size: 15px;
    }
}
// MobileM
@media (max-width: $mobileM) {
    .instagram {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    .mobile-hidden{
        display: none;
    }
    .tiles__description {
        left: 15px;
        img {
            max-width: 50% !important;
        }
    }
}
// MobileS
@media (max-width: $mobileS) {
    .logo__img {
        max-width: 55%;
    }
    .h2 {
        font-size: 25px;
    }

}
