@import "reset.css";
@import "slick.css";
@import "slik-theme.css";
@import "variables.scss";
@import "general.scss";
@import "header.scss";
@import "tiles.scss";
@import "instagram.scss";
@import "footer.scss";
@import "media.scss";

