.tiles {
    padding: 83px 0;
    &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 30.8%);
        grid-template-rows: 1fr 41%;
        grid-gap: 53px 57px;
        justify-items: center;
        overflow: hidden;
    }
    &__item {
        position: relative;
        max-height: 100%;
        z-index: -1;
        picture {
            img,
            source {
                max-width: 100%;
            }
        }
        &--left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &--big {
            grid-column: 1 / 2 span;
        }
    }
    &__description {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 38px;
    }
    &__h2 {
        margin-top: 0.6em;
        margin-bottom: 1em;
    }
    &__h3 {
        margin-top: 0.9em;
        margin-bottom: 1em;
    }
}
