// desctop first
$k4: 1441px; // min
$tablet: 1023px; // max
$mobileL: 767px; // max
$mobileM: 424px; // max
$mobileS: 376px; // max
// transition
$bgc_tr: background-color 0.3 linear;
$op_tr: opacity 0.3 linear;
// flex
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-spb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// placeholder
@mixin form-font {
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    font-weight: 400;
}
@mixin placeholder {
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        @include form-font;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        @include form-font;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        @include form-font;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        @include form-font;
    }
}
// .... other project variables ....
