footer.footer
    .content.footer__wrap
        nav.footer__nav
            ul.footer__ul
                li
                    a.footer__link(href="https://github.com/morozov312/Simple-Grid-and-Pug" target="__blank") ©ICNDY2014
                li
                    a.footer__link(href="https://github.com/morozov312/Simple-Grid-and-Pug" target="__blank") PRIVACY  
                li
                    a.footer__link(href="https://github.com/morozov312/Simple-Grid-and-Pug" target="__blank") TERMS 
                li
                    a.footer__link(href="https://github.com/morozov312/Simple-Grid-and-Pug" target="__blank") SHOP 
                li
                    a.footer__link(href="https://github.com/morozov312/Simple-Grid-and-Pug" target="__blank") ABOUT 
                li
                    a.footer__link(href="https://github.com/morozov312/Simple-Grid-and-Pug" target="__blank") CONTACT
        .icons
            a.icons__link(href="https://www.instagram.com/" target="__blank")   
                .icons__item
                    svg
                        use(xlink:href="#inst")     
            a.icons__link(href="https://www.facebook.com/" target="__blank")   
                .icons__item
                    svg
                        use(xlink:href="#facebook")
            a.icons__link(href="https://twitter.com/" target="__blank")   
                .icons__item
                    svg
                        use(xlink:href="#twitter")
