footer.footer
    .content.footer__wrap
        nav.footer__nav
            ul.footer__ul
                li
                    p.footer__link.footer__link--hover-none ©ICNDY2014  
                li
                    a.footer__link(href="#") PRIVACY  
                li
                    a.footer__link(href="#") TERMS 
                li
                    a.footer__link(href="#") SHOP 
                li
                    a.footer__link(href="#") ABOUT 
                li
                    a.footer__link(href="#") CONTACT