header.header
    .content
        .header__top
            img(src="./images/header/logo.png", alt="logo")
            nav.header__nav
                a.link(href="#") MENS  
                a.link(href="#") WOMENS
                a.link(href="#") BRANDS
                a.link(href="#") SALE
                a.link(href="#") NEWS
            
