header.header
    .content.header__wrap
        .header__top
            img.header__logo(src="./images/header/logo.png", alt="logo")
            nav.header__nav
                a.header__link(href="#") MENS
                a.header__link(href="#") WOMENS
                a.header__link(href="#") BRANDS
                a.header__link(href="#") SALE
                a.header__link(href="#") NEWS
        .header__intro
            .header__title
                h1 STÜSSY2014
                p shop now
        .header__arrow        
            img(src="./images/header/Arrow.png", alt="arrow")        
