section.tiles
    .content.tiles__wrap
        .tiles__item.tiles__item--big
            picture
                source(srcset="./images/tiles/webp/Layer_22.webp", type="image/webp")
                source(srcset="./images/tiles/jpg/Layer_22.jpg", type="image/jpg")
                img(src="./images/tiles/jpg/Layer_22.jpg", alt="layer_22")
            .tiles__description
                img(src="./images/tiles/icons/Layer_33.png", alt="Layer_33")
                h2.h2.tiles__h2 SHOP GOURMET
        .tiles__item--left
            .tiles__item
                picture
                    source(srcset="./images/tiles/webp/Layer_21.webp", type="image/webp")
                    source(srcset="./images/tiles/jpg/Layer_21.jpg", type="image/jpg")
                    img(src="./images/tiles/jpg/Layer_21.jpg", alt="Layer_21")
                .tiles__description
                    img(src="./images/tiles/icons/Layer_23.png", alt="Layer_23")
                    h3.h3.tiles__h3 SHOP<br>CARHARTT
            .tiles__item        
                picture
                    source(srcset="./images/tiles/webp/Layer_25.webp", type="image/webp")
                    source(srcset="./images/tiles/jpg/Layer_25.jpg", type="image/jpg")
                    img(src="./images/tiles/jpg/Layer_25.jpg", alt="Layer_25")
                .tiles__description
                    img(src="./images/tiles/icons/Layer_24.png", alt="Layer_24")
                    h3.h3.tiles__h3 SHOP<br>ADIDAS
        .tiles__item
            picture
                source(srcset="./images/tiles/webp/Layer_31.webp", type="image/webp")
                source(srcset="./images/tiles/jpg/Layer_31.jpg", type="image/jpg")
                img(src="./images/tiles/jpg/Layer_31.jpg", alt="Layer_31")
            .tiles__description
                img(src="./images/tiles/icons/Layer_30.png", alt="Layer_30")
                h3.h3.tiles__h3 10DEEP<br>SALE
        .tiles__item
            picture
                source(srcset="./images/tiles/webp/Layer_29.webp", type="image/webp")
                source(srcset="./images/tiles/jpg/Layer_29.jpg", type="image/jpg")
                img(src="./images/tiles/jpg/Layer_29.jpg", alt="Layer_29")
            .tiles__description
                img(src="./images/tiles/icons/Layer_28.png", alt="Layer_28")
                h3.h3.tiles__h3 PALACE<br>A/W 2014
        .tiles__item
            picture
                source(srcset="./images/tiles/webp/Layer_27.webp", type="image/webp")
                source(srcset="./images/tiles/jpg/Layer_27.jpg", type="image/jpg")
                img(src="./images/tiles/jpg/Layer_27.jpg", alt="Layer_27")
            .tiles__description
                img(src="./images/tiles/icons/Layer_26.png", alt="Layer_26")
                h3.h3.tiles__h3 TECH PACK