@charset "UTF-8";
@import "reset.css";
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.woff2") format("woff2"), url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.woff") format("woff"), url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.ttf") format("truetype"), url("../fonts/Proxima_Nova_light/fonts/proxima_nova_light.svg#proxima_nova_light") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.eot");
  src: local("☺"), url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.woff") format("woff"), url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.ttf") format("truetype"), url("../fonts/Proxima_Nova/fonts/ofont.ru_Proxima Nova.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova rg";
  src: url("../fonts/Proxima_Nova_rg/fonts/12093.eot");
  src: local("☺"), url("../fonts/Proxima_Nova_rg/fonts/12093.woff") format("woff"), url("../fonts/Proxima_Nova_rg/fonts/12093.ttf") format("truetype"), url("../fonts/Proxima_Nova_rg/fonts/12093.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.content {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}

.subtitle {
  color: #f84545;
  font-family: "Proxima Nova rg";
  text-transform: uppercase;
  font-size: calc(25px + 5 * ((100vw - 320px) / 1380));
  font-weight: 700;
  letter-spacing: 0.4em;
}

.h1, .h3, .h2 {
  color: #ffffff;
  font-family: "Proxima Nova Light";
  font-size: calc(27px + 33 * ((100vw - 320px) / 1380));
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6em;
}

.h2 {
  letter-spacing: 0.34em;
}

.h3 {
  font-size: calc(24px + 16 * ((100vw - 320px) / 1380));
  letter-spacing: 0.4em;
}

.header {
  background: url(../images/header/Layer_16.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 47px;
  box-sizing: border-box;
}
.header__wrap {
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2px;
}
.header__logo {
  max-width: 100%;
}
.header__nav {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
}
.header__link {
  font-family: "Proxima Nova";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 7.88px;
  color: #fff;
}
.header__link:hover {
  color: #f84545;
  transition: color 0.3s linear;
}
.header__intro {
  margin-top: 17.8770949721%;
  text-align: center;
}
.header__subtitle {
  margin-top: 50px;
}
.header__arrow {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 7.8212290503%;
}

.tiles {
  padding: 83px 0;
}
.tiles__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 580px;
  grid-gap: 53px 57px;
  justify-items: center;
  overflow: scroll;
}
.tiles__item {
  position: relative;
  max-height: 100%;
  z-index: -1;
}
.tiles__item--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tiles__item--big {
  grid-column: 1/2 span;
}
.tiles__description {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 38px;
}
.tiles__h2 {
  margin-top: 0.6em;
  margin-bottom: 1em;
}
.tiles__h3 {
  margin-top: 0.9em;
  margin-bottom: 1em;
}

.instagram {
  display: grid;
  height: 100vh;
  width: 100vw;
  position: relative;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  overflow: hidden;
}
.instagram source,
.instagram img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.instagram__description {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.instagram__title {
  letter-spacing: 0.65em;
}
.instagram__subtitile {
  margin-top: 50px;
}

.footer {
  height: 150px;
  overflow: hidden;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  width: 100%;
  max-width: 993px;
}
.footer__link {
  font-family: "Proxima Nova";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 7.88px;
  color: #1a1a1a;
}
.footer__link:hover {
  color: #f84545;
  transition: color 0.3s linear;
}
.footer__ul {
  display: flex;
  justify-content: space-between;
}
.footer__link--hover-none:hover {
  color: inherit;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 160px;
}
.icons svg {
  width: 33.33%;
  height: 1.6em;
}
.icons svg:hover {
  fill: #f84545;
  transition: fill 0.3s linear;
}

@media (max-width: 1023px) {
  .header__nav {
    display: none;
  }

  .header__intro {
    margin-top: 200px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    width: 45%;
  }
}